body{
    margin:0;
    font-family: monospace;
    font-size: 25px;
    background-color:skyblue;
    background-image: url(https://t4.ftcdn.net/jpg/05/50/95/87/360_F_550958748_OeGcRonEUNoVhd0wjd9zSEMhLFIGO9Bt.jpg);
    display: block;
    background-size: cover;
    background-position: center;
}
header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: black;
    display:inline-block;
    animation: blink 0.7s infinite alternate;
}
@keyframes blink {
    from {
        color: red;
    }
    to {
        color: black;
    }
}
img{
    height:50px;
    width:50px;
}
button{
    margin:10px;
    height: 40px;
    width: 140px;
    color:green;
    font-weight: bold;
    background-color:black;
    border-color:yellow;
    border-style:solid;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    color: blue;
    background-color:white;
}
.footer{
    font-size: 20px;
    color:green;
    display: flex;
    flex-direction:row;
    justify-content:right;
}

