body{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.aKKzfEX0Z_h-ZXKn2W2NFgHaEH&pid=Api&P=0&h=180);
    display: block;
    background-size: cover;
    background-position: center;
}
.te{
    text-align: center;
    color: green;
}
.bg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    color: green;
    height: 100vh;
}